/* YOUR CUSTOM STYLES */

body {
  color: #FFFFFF !important;
}

.bg-skin-lp {
  /*background-image: url('/img/bg/crevice-view.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;*/
  background-color: #212121 !important;
}

.tall-logo, .tall-logo .text-center {
  height: 240px !important;
}

.tall-logo .text-center .pl-0 {
  height: 240px !important;
  padding: 10px !important;
}

.black-skin .navbar,
.black-skin .page-footer,
.black-skin .side-nav {
  background-color: #424242 !important;
}

.navbar.navbar-dark .breadcrumb .nav-item .nav-link:hover,
.navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
	color: rgba(255,255,255,.75) !important;
}

a {
  color: #82B1FF;
}

.card .card-text {
	color: #FFFFFF !important;
}

.card-body,
.author-box,
.jumbotron {
  background-color: #424242 !important;
}

code {
  background-color: #212121 !important;
}

.card .card-reveal, .card-wrapper .face,
.carousel-thumbnails .carousel-indicators .active,
.picker__box .picker__header .picker__select--month.browser-default,
.picker__box .picker__header .picker__select--year.browser-default,
.picker__list-item, .testimonial-card .avatar, .white {
	background-color: #424242 !important;
}

.black-skin .side-nav .sidenav-bg.mask-strong::after,
.black-skin .side-nav .sidenav-bg::after {
  background-color: rgb(66, 66, 66, 0.8) !important;
}

.sn-bg-1 {
  background-image: url("/img/bg/crevice-view-side.jpg") !important;
}

.black-skin input[type="text"]:focus:not([readonly]) {
  border-color: #03a9f4 !important;
}

.black-skin input[type="email"]:focus:not([readonly]),
.black-skin input[type="text"]:focus:not([readonly]),
.black-skin input[type="password"]:focus:not([readonly]),
.black-skin textarea.md-textarea:focus:not([readonly]) {
  border-color: #03a9f4 !important;
  box-shadow: 0 1px 0 0 #03a9f4 !important;
}

.black-skin input[type="text"]:focus:not([readonly])+label {
  color: #03a9f4 !important;
}

.black-skin input[type="textarea"]:focus:not([readonly])+label {
  color: #03a9f4 !important;
}

.black-skin .dropdown-content li:not(.disabled) span,
.black-skin .md-form .prefix.active,
.black-skin input[type="email"]:focus:not([readonly])+label,
.black-skin input[type="text"]:focus:not([readonly])+label,
.black-skin input[type="password"]:focus:not([readonly])+label,
.black-skin textarea.md-textarea:focus:not([readonly])+label {
  color: #03a9f4 !important;
}

.black-skin .side-nav .collapsible li .collapsible-header:hover {
  background-color: rgba(50, 50, 50, 50);
  color: rgb(255, 255, 255);
}

.black-skin .side-nav .collapsible li .collapsible-header.active {
  background-color: #03a9f4 !important;
}

.black-skin .side-nav .collapsible li .collapsible-body a:hover {
  color: #03a9f4 !important;
}

.black-skin .side-nav .social a:hover .fa {
  color: #03a9f4 !important;
}

p.vi-blue-text, i.vi-blue-text, h4.vi-blue-text,
h5.vi-blue-text, a.vi-blue-text:hover {
  color: #03a9f4 !important;
}

button.btn.btn-vi-color {
	background-color: #03a9f4 !important;
}

.timeline-Widget--edge {
	border-radius: .3rem !important;
}

/* Scrollbar Styles */

::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar Track Styles */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Scrollbar Handle Styles */

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #000;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #fff;
}

.steam-ic {
  color: #171a21 !important;
}

.btn-steam {
  background-color: #171a21 !important;
}

.btn-steam:focus, .btn-steam:hover {
  background-color: #242833 !important
}

.zcard {
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
}

.zcard-block {
  background-color: #fff;
}

div.zcard-block div.carousel div.carousel-inner div.carousel-item div.view img {
  max-width: 1110px;
  width: auto;
  height: auto;
}

.form-control::placeholder, .form-control {
  color: #03a9f4;
}


.md-textarea::placeholder, .md-textarea {
  color: #03a9f4;
}

.form-control:focus {
  color: var(--light);
}

.md-textarea:focus {
  color: var(--light);
}

.md-form label {
  color: #e1e1e1;
}
